RewriteEngine On
RewriteRule ^emlakci/([a-zA-Z0-9_-]+)-([0-9]+)/?$ index.php?url=showcase/index&tenant=$2 [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
