<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Klasör veya dosya gerçekten varsa onu aç
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    # Yoksa index.php'ye yönlendir
    RewriteRule ^ index.php [L]
</IfModule>